<% provide(:title, "About") %>
<h1>About</h1>
<p style="font-size: 20px;">
  <a style="text-decoration: none;" href="http://esya.iiitd.edu.in" target="_blank" rel="noopener">Esya</a> presents its first ever ad making competition <a style="text-decoration: none;" href="/">Majestic Ads</a>. It will be an online event. Contestants will be asked to prepare short ads,animation videos or any type of video on any one of the given themes, the themes would be provided after they fill the registration form. The videos will be judged on the basis of quality, content and incorporation of the themes in the ads and YouTube likes as well.
</p>

<p style="font-size: 20px;">
	To know more about Majestic Ads and <a style="text-decoration: none;" href="http://esya.iiitd.edu.in" target="_blank" rel="noopener">Esya</a> visit the facebook <a style="text-decoration: none;" href="https://www.facebook.com/events/623205334504592/">page</a>.
</p>