<% provide(:title, "Help") %>
<h1>Help</h1>
<p style="font-size: 20px;">
	To know more about Majestic Ads and <a style="text-decoration: none;" href="http://esya.iiitd.edu.in" target="_blank" rel="noopener">Esya</a> visit the facebook <a style="text-decoration: none;" href="https://www.facebook.com/events/623205334504592/">page</a>.
</p>