<div class="center">
<h1>Welcome to Majestic Ads</h1>
  <% if !logged_in? %>
	  <h2 style="font-size: 20px;">
	    Welcome to the Majestic Ads home page. Signup now to stand a chance to win exciting prizes!
	  </h2>
  	<%= link_to '<i class="fa fa-user-plus fa-inverse"></i> Register now!'.html_safe, signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>